In [1]:
import pandas as pd
import numpy as np

In [3]:
datos = pd.read_csv('items_titles.csv')

In [4]:
datos.head()

                                      ITE_ITEM_TITLE
0  Tênis Ascension Posh Masculino - Preto E Verme...
1  Tenis Para Caminhada Super Levinho Spider Corr...
2  Tênis Feminino Le Parc Hocks Black/ice Origina...
3  Tênis Olympikus Esportivo Academia Nova Tendên...
4  Inteligente Led Bicicleta Tauda Luz Usb Bicicl...

In [7]:
datos.shape

(30000, 1)

In [5]:
test = pd.read_csv('items_titles_test.csv')

In [6]:
test.head()

                                      ITE_ITEM_TITLE
0   Tênis Olympikus Esporte Valente - Masculino Kids
1  Bicicleta Barra Forte Samy C/ 6 Marchas Cubo C...
2       Tênis Usthemp Slip-on Temático - Labrador 2
3        Tênis Casual Feminino Moleca Tecido Tie Dye
4        Tênis Star Baby Sapatinho Conforto + Brinde

In [8]:
test.shape

(10000, 1)

In [59]:
#Carga de librerias
import os, re, json
#from pandas import DataFrame
from nltk.tokenize import RegexpTokenizer
#from nltk.corpus import stopwords
from gensim.corpora import Dictionary, MmCorpus
from itertools import chain
from unidecode import unidecode
from gensim.models import LdaModel

In [150]:
def quitar_numeros(texto):
    return re.sub("([0-9])", "",texto)

def pasar_a_minusculas(texto):
    return texto.lower()

def tokenizar_palabras(texto):
    tokenizer = RegexpTokenizer(r'\w+')
    return tokenizer.tokenize(texto)

def remove_accents_word(texto):
    return unidecode(texto)

def dropeo_palabras(lista,n=2):
    [lista.remove(x) for x in lista if len(x)<n]
    [lista.remove(x) for x in lista if len(x)<n]
    [lista.remove(x) for x in lista if len(x)<n]
    return lista

In [152]:
def pipeline_data_prep_nlp(texto):
    texto = quitar_numeros(texto)
    texto = pasar_a_minusculas(texto)
    texto = remove_accents_word(texto)
    texto = tokenizar_palabras(texto)
    texto = dropeo_palabras(texto)
    return texto

In [153]:
datos['docs'] = datos['ITE_ITEM_TITLE'].apply(lambda x: pipeline_data_prep_nlp(x))

In [55]:
datos.drop(['docs'],axis=1,inplace=True)

In [154]:
datos.iloc[490:510]

,ITE_ITEM_TITLE,docs,topico
490,Sapatenis Ferricelli Top Você Mais Alto 4cm Co...,"[sapatenis, ferricelli, top, voce, mais, alto,...","[(0, 0.21773623), (1, 0.76749796), (2, 0.01476..."
491,Tênis Feminino All Preto C/branco Plataforma R...,"[tenis, feminino, all, preto, branco, platafor...","[(0, 0.29629523), (1, 0.492587), (2, 0.21111782)]"
492,Tênis Redley Ir10 Monocromo All Black Preto,"[tenis, redley, ir, monocromo, all, black, preto]","[(0, 0.43107957), (1, 0.034382824), (2, 0.5345..."
493,Sapatênis Casual Masculino Kit 3 Pares Frete ...,"[sapatenis, casual, masculino, kit, pares, fre...","[(0, 0.66541356), (1, 0.31982586), (2, 0.01476..."
494,Tênis Feminino Conforto Macio Leve Olympikus F...,"[tenis, feminino, conforto, macio, leve, olymp...","[(0, 0.95081466), (1, 0.029858956), (2, 0.0193..."
495,Tênis Olympikus Voa Masculino Azul Marinho - 5688,"[tenis, olympikus, voa, masculino, azul, marinho]","[(0, 0.94275177), (1, 0.034430824), (2, 0.0228..."
496,Tênis Rainha Drive Masculino - Preto,"[tenis, rainha, drive, masculino, preto]","[(0, 0.6676236), (1, 0.04221827), (2, 0.290158..."
497,Tenis Corrida Super Confortavel,"[tenis, corrida, super, confortavel]","[(0, 0.9096453), (1, 0.054539695), (2, 0.03581..."
498,Tenis Feminino Vizzano Branco 1333.201 Promoçã...,"[tenis, feminino, vizzano, branco, promocao, c...","[(0, 0.03530911), (1, 0.94188374), (2, 0.02280..."
499,Kit 5 Tenis Masculino Yzy Leve Top + Carteira ...,"[kit, tenis, masculino, yzy, leve, top, cartei...","[(0, 0.9580807), (1, 0.025190847), (2, 0.01672..."
500,Tv 47 LG Escarlate Vermelha Lcd,"[tv, lg, escarlate, vermelha, lcd]","[(0, 0.04245015), (1, 0.04180236), (2, 0.91574..."
501,Tênis Sapatênis Feminino Chiquiteira Chiqui/78...,"[tenis, sapatenis, feminino, chiquiteira, chiqui]","[(0, 0.05478336), (1, 0.9093965), (2, 0.035820..."
502,Sapatenis Lacoste Original,"[sapatenis, lacoste, original]","[(0, 0.056173924), (1, 0.5392081), (2, 0.40461..."
503,Cinta Trava Microtex Presilha Sapatilha Fizik ...,"[cinta, trava, microtex, presilha, sapatilha, ...","[(0, 0.034741215), (1, 0.034210984), (2, 0.931..."
504,Tênis Olimpicos Cristal 896 Masculino Running ...,"[tenis, olimpicos, cristal, masculino, running...","[(0, 0.95159954), (1, 0.029094957), (2, 0.0193..."
505,Tenis Feminino Iate Moleca Sapato Feminino Con...,"[tenis, feminino, iate, moleca, sapato, femini...","[(0, 0.025636943), (1, 0.95763654), (2, 0.0167..."
506,Tênis De Menina Fashionista Moda Inspiração Mo...,"[tenis, de, menina, fashionista, moda, inspira...","[(0, 0.4019106), (1, 0.5702002), (2, 0.0278892..."
507,Bicicleta Cannondale Trail 6 Feminina Verde 2021,"[bicicleta, cannondale, trail, feminina, verde]","[(0, 0.03482287), (1, 0.034240633), (2, 0.9309..."
508,Bici Tsw Hunch Plus 27v 29x19 Az/pt Nac.,"[bici, tsw, hunch, plus, az, pt, nac]","[(0, 0.030292124), (1, 0.028959543), (2, 0.940..."
509,Tênis Granola Kids - Gambo,"[tenis, granola, kids, gambo]","[(0, 0.4770722), (1, 0.47274157), (2, 0.050186..."

In [155]:
#Pipeline bag of words
def pipeline_bag_of_words(datos, guardar=False, no_below=100, no_above=0.9):
    dictionary = Dictionary(datos['docs'].to_list())
    # Filter out words that occur less than 20 documents, or more than 50% of the documents.
    # TODO explorar TFidf vectorizer
    
    if no_below and no_above:
        dictionary.filter_extremes(no_below, no_above)
    
    corpus = [dictionary.doc2bow(doc) for doc in datos['docs']]
    result = {
        "corpus": corpus,
        "dictionary": dictionary,
        "nro_tokens_unicos": len(dictionary),
        "nro_documentos": len(corpus)
    }
    bow = dictionary.doc2bow(list(chain(*datos['docs'].to_list())))
    
    frecuencias = dict()

    id2token = dictionary.id2token

    if not id2token:
        # En caso de bug en el que id2token retorne un diccionario vacio
        # Se crea a partir de token2id
        id2token = {v: k for k ,v in dictionary.token2id.items()}
    
    for key, freq in bow:
        frecuencias[id2token.get(key)] = freq
    
    # Ordena de mayor a menor frecuencia
    frecuencias = dict(sorted(frecuencias.items(), key=lambda x:x[1], reverse=True))

    result["id2token"] = id2token
    result["frecuencias"] = frecuencias

    if guardar:
        with open("./modelos/"+Version+"/bag_of_word_freqs"+Version+".json", mode="w", encoding="utf-8") as f:
            f.writelines(json.dumps(frecuencias, ensure_ascii=False, indent=4))
        print("Archivo guardado")
    #Agregue que guarde en la carpeta modelos la frecuencia de palabras
    return result

In [163]:
#Entrenamiento de modelo
def entrenar_lda(rdo_pipe_bow, save_path=None):
    #TODO Considerar el tiempo como una variable
    # https://markroxor.github.io/gensim/static/notebooks/ldaseqmodel.html
    
    # Set training parameters.
    num_topics = 3
    chunksize = 2000 #ERA 2000
    passes = 10
    iterations = 100
    eval_every = None  # Don't evaluate model perplexity, takes too much time.

    modelo = LdaModel(
        corpus=rdo_pipe_bow["corpus"],
        id2word=rdo_pipe_bow["id2token"],
        chunksize=chunksize,
        alpha='auto',
        eta='auto',
        iterations=iterations,
        num_topics=num_topics,
        passes=passes,
        eval_every=eval_every
    )

   #top_topics = modelo.top_topics(rdo_pipe_bow["corpus"])

    # # Average topic coherence is the sum of topic coherences of all topics, divided by the number of topics.
    # avg_topic_coherence = sum([t[1] for t in top_topics]) / num_topics
    # print('Average topic coherence: %.4f.' % avg_topic_coherence)

    # from pprint import pprint
    # pprint(top_topics)

    return modelo

In [75]:
#Funcion  que hace correr el modelo - esto hace correr todo lo demas.
def run(guardar=True):
    # GENERACIÓN DE CORPUS Y DICCIONARIO
    print("Calculando bag of words")
    rdo_pipe_bow = pipeline_bag_of_words(datos)
    if guardar:
        if not os.path.exists('diccionarios'):
            os.makedirs('diccionarios')
        rdo_pipe_bow["dictionary"].save("./diccionarios/diccionario_gensim")
        if not os.path.exists('modelos'):
            os.makedirs('modelos')
        MmCorpus.serialize("./modelos/corpus_gensim.mm",rdo_pipe_bow["corpus"])
    # ENTRENAMIENTO DEL MODELO
    print("Entrenando lda")
    modelo = entrenar_lda(rdo_pipe_bow)
    if guardar:
        modelo.save("./modelos/LDA_gensim")
    return modelo

In [164]:
modelo = run()

Calculando bag of words
Entrenando lda

In [167]:
modelo.show_topics()

[(0,
  '0.217*"tenis" + 0.066*"masculino" + 0.053*"feminino" + 0.042*"preto" + 0.039*"infantil" + 0.034*"original" + 0.033*"sapatenis" + 0.028*"casual" + 0.019*"couro" + 0.019*"olympikus"'),
 (1,
  '0.144*"tenis" + 0.107*"feminino" + 0.055*"de" + 0.045*"casual" + 0.042*"slip" + 0.039*"on" + 0.032*"com" + 0.019*"plataforma" + 0.016*"pares" + 0.015*"via"'),
 (2,
  '0.107*"bicicleta" + 0.080*"aro" + 0.045*"sapatilha" + 0.037*"usthemp" + 0.031*"tv" + 0.030*"bike" + 0.025*"nike" + 0.024*"mtb" + 0.021*"shimano" + 0.020*"tematico"')]

# Evaluacion modelo

In [161]:
from gensim.models.coherencemodel import CoherenceModel

In [165]:
corpus = MmCorpus('./modelos/corpus_gensim.mm')
lda = LdaModel.load('./modelos/LDA_gensim')
dictionary = Dictionary.load('./diccionarios/diccionario_gensim')

In [166]:
# Original
coherence_model_lda = CoherenceModel(model=lda,texts = datos.docs, dictionary=dictionary, coherence='c_v')
coherence_lda = coherence_model_lda.get_coherence() #_per_topic()
print('\nCoherence Score: ', coherence_lda)

Coherence Score:  0.37680018204526555

# Test

In [ ]:
test

In [178]:
test['docs'] = test['ITE_ITEM_TITLE'].apply(lambda x: pipeline_data_prep_nlp(x))

In [180]:
test_corpus = [dictionary.doc2bow(doc) for doc in test['docs']]

In [82]:
def topic_document(modelo,corpus):
    return [modelo.get_document_topics(item) for item in corpus]
    ##get_document_topics = [modelo.get_document_topics(item) for item in corpus]
    ##topico_document = []
    ##for doc in get_document_topics:
    ##    diccio = dict(doc)
    ##    maximo = max(diccio.values())
    ##    indice = list(diccio.values()).index(maximo)
    ##    topico = list(diccio.keys())[indice]
    ##    topico_document.append(topico)
    ##return topico_document

In [181]:
topico_documento = topic_document(modelo,test_corpus)
test['topico'] = topico_documento

In [183]:
test.head()

,ITE_ITEM_TITLE,docs,topico
0,Tênis Olympikus Esporte Valente - Masculino Kids,"[tenis, olympikus, esporte, valente, masculino...","[(0, 0.948939), (1, 0.029321205), (2, 0.021739..."
1,Bicicleta Barra Forte Samy C/ 6 Marchas Cubo C...,"[bicicleta, barra, forte, samy, marchas, cubo,...","[(0, 0.17528471), (1, 0.060834836), (2, 0.7638..."
2,Tênis Usthemp Slip-on Temático - Labrador 2,"[tenis, usthemp, slip, on, tematico, labrador]","[(0, 0.10369413), (1, 0.5287309), (2, 0.367574..."
3,Tênis Casual Feminino Moleca Tecido Tie Dye,"[tenis, casual, feminino, moleca, tecido, tie,...","[(0, 0.6888141), (1, 0.29503244), (2, 0.016153..."
4,Tênis Star Baby Sapatinho Conforto + Brinde,"[tenis, star, baby, sapatinho, conforto, brinde]","[(0, 0.9488154), (1, 0.029432222), (2, 0.02175..."

In [184]:
from gensim.matutils import jensen_shannon

In [185]:
def calcular_jensen_shannon_sim_doc_doc(doc_dist1, doc_dist2):
    """Calcula la distancia Jensen Shannon entre dos documentos.
    """
    return jensen_shannon(doc_dist1, doc_dist2)

In [186]:
Comparacion = pd.DataFrame({'Item1':[],'Item2':[],'Score Similitud':[]})

In [231]:
import warnings
warnings.filterwarnings("ignore")
import itertools

In [261]:
#No corre tarda demasiado
def similitud(datos):
    Comparacion = pd.DataFrame({'Item1':[],'Item2':[],'Score Similitud':[]})
    for a, b in itertools.combinations(list(datos.index), 2):
        simil = calcular_jensen_shannon_sim_doc_doc(datos['topico'].iloc[a],datos['topico'].iloc[b])
        fila = {'Item1':datos['ITE_ITEM_TITLE'].iloc[a],
                'Item2':datos['ITE_ITEM_TITLE'].iloc[b],
               'Score Similitud': simil}
        #if simil > 0.5:
        Comparacion = Comparacion.append(fila, ignore_index=True)
    return Comparacion

In [262]:
test1 = similitud(df_test1)

In [263]:
test1

,Item1,Item2,Score Similitud
0,Tv LG 50 Plasma Com Defeito - 50pb650b,Tv Sony Trinitron Wega 29 Polegadas,0.002953

In [264]:
df_test2 = test[test['filtro']==2].reset_index()

In [ ]:
test2 = similitud(df_test2)

In [268]:
df_test3 = test[(test['filtro']==3) | (test['filtro']==0)].reset_index()

In [ ]:
test3 = similitud(df_test3)

# PRUEBAS

In [192]:
datos.head()

,ITE_ITEM_TITLE,docs,topico
0,Tênis Ascension Posh Masculino - Preto E Verme...,"[tenis, ascension, posh, masculino, preto, ver...","[(0, 0.92999035), (1, 0.042120438), (2, 0.0278..."
1,Tenis Para Caminhada Super Levinho Spider Corr...,"[tenis, para, caminhada, super, levinho, spide...","[(0, 0.9517051), (1, 0.028992843), (2, 0.01930..."
2,Tênis Feminino Le Parc Hocks Black/ice Origina...,"[tenis, feminino, le, parc, hocks, black, ice,...","[(0, 0.9629455), (1, 0.022290116), (2, 0.01476..."
3,Tênis Olympikus Esportivo Academia Nova Tendên...,"[tenis, olympikus, esportivo, academia, nova, ...","[(0, 0.95131135), (1, 0.029356137), (2, 0.0193..."
4,Inteligente Led Bicicleta Tauda Luz Usb Bicicl...,"[inteligente, led, bicicleta, tauda, luz, usb,...","[(0, 0.2638302), (1, 0.034209788), (2, 0.70195..."

In [222]:
listado = []
for x in datos['docs']:
    if 'tv' in x:
        listado.append(1)
    elif 'bicicleta' in x:
        listado.append(2)
    elif 'tenis' in x or 'sapatenis' in x or 'sapatilha' in x or 'sapato' in x or 'botinho' in x:
        listado.append(3)
    else:
        listado.append(0)

In [219]:
datos['filtro'] = listado

In [204]:
datos.head()

,ITE_ITEM_TITLE,docs,topico,filtro
0,Tênis Ascension Posh Masculino - Preto E Verme...,"[tenis, ascension, posh, masculino, preto, ver...","[(0, 0.92999035), (1, 0.042120438), (2, 0.0278...",3
1,Tenis Para Caminhada Super Levinho Spider Corr...,"[tenis, para, caminhada, super, levinho, spide...","[(0, 0.9517051), (1, 0.028992843), (2, 0.01930...",3
2,Tênis Feminino Le Parc Hocks Black/ice Origina...,"[tenis, feminino, le, parc, hocks, black, ice,...","[(0, 0.9629455), (1, 0.022290116), (2, 0.01476...",3
3,Tênis Olympikus Esportivo Academia Nova Tendên...,"[tenis, olympikus, esportivo, academia, nova, ...","[(0, 0.95131135), (1, 0.029356137), (2, 0.0193...",3
4,Inteligente Led Bicicleta Tauda Luz Usb Bicicl...,"[inteligente, led, bicicleta, tauda, luz, usb,...","[(0, 0.2638302), (1, 0.034209788), (2, 0.70195...",2

In [223]:
pd.Series(listado).value_counts()

3    24890
0     2246
2     2232
1      632
dtype: int64

In [225]:
datos[datos['filtro']==1]

,ITE_ITEM_TITLE,docs,topico,filtro
7,Tv Samsung Qled 8k Q800t Semi Nova,"[tv, samsung, qled, qt, semi, nova]","[(0, 0.034811683), (1, 0.03421061), (2, 0.9309...",1
18,Smart Tv Led 40 Philco Ptv40e60sn Full Hd Conv...,"[smart, tv, led, philco, ptvesn, full, hd, con...","[(0, 0.02571069), (1, 0.025093425), (2, 0.9491...",1
104,Placa De Comando (power)+ Sensor Tv Lg39ln5400,"[placa, de, comando, power, sensor, tv, lgln]","[(0, 0.035106067), (1, 0.03421408), (2, 0.9306...",1
171,Tv Digital Portátil 14 Polegadas Led Monitor H...,"[tv, digital, portatil, polegadas, led, monito...","[(0, 0.018320266), (1, 0.017929021), (2, 0.963...",1
318,Tv De Plasma LG 42pn4600 - Tv Não Liga Vendo E...,"[tv, de, plasma, lg, pn, tv, nao, liga, vendo,...","[(0, 0.022627965), (1, 0.02214477), (2, 0.9552...",1
...,...,...,...,...
29678,Smart Tv LG 65'' 4k Nanocell 65nano75 Thinq Ai...,"[smart, tv, lg, nanocell, nano, thinq, ai, sma...","[(0, 0.022487517), (1, 0.02214438), (2, 0.9553...",1
29732,Oferta Smart Tv Samsung Led 4k 85 100v/240v,"[oferta, smart, tv, samsung, led]","[(0, 0.030217355), (1, 0.029726744), (2, 0.940...",1
29958,Tv 42 Pol Led LG,"[tv, pol, led, lg]","[(0, 0.04275946), (1, 0.04180293), (2, 0.91543...",1
29974,Tv Semp-toshiba 10 - Antiga - Sucata,"[tv, semp, toshiba, antiga, sucata]","[(0, 0.04245456), (1, 0.04180668), (2, 0.91573...",1
29983,Smart Tv LG 65 4k Nanocell 65nano75 Hdmi Ai Pr...,"[smart, tv, lg, nanocell, nano, hdmi, ai, pret...","[(0, 0.022571279), (1, 0.022216082), (2, 0.955...",1

In [226]:
test.head()

,ITE_ITEM_TITLE,docs,topico
0,Tênis Olympikus Esporte Valente - Masculino Kids,"[tenis, olympikus, esporte, valente, masculino...","[(0, 0.948939), (1, 0.029321205), (2, 0.021739..."
1,Bicicleta Barra Forte Samy C/ 6 Marchas Cubo C...,"[bicicleta, barra, forte, samy, marchas, cubo,...","[(0, 0.17528471), (1, 0.060834836), (2, 0.7638..."
2,Tênis Usthemp Slip-on Temático - Labrador 2,"[tenis, usthemp, slip, on, tematico, labrador]","[(0, 0.10369413), (1, 0.5287309), (2, 0.367574..."
3,Tênis Casual Feminino Moleca Tecido Tie Dye,"[tenis, casual, feminino, moleca, tecido, tie,...","[(0, 0.6888141), (1, 0.29503244), (2, 0.016153..."
4,Tênis Star Baby Sapatinho Conforto + Brinde,"[tenis, star, baby, sapatinho, conforto, brinde]","[(0, 0.9488154), (1, 0.029432222), (2, 0.02175..."

In [227]:
listado_test = []
for x in test['docs']:
    if 'tv' in x:
        listado_test.append(1)
    elif 'bicicleta' in x:
        listado_test.append(2)
    elif 'tenis' in x or 'sapatenis' in x or 'sapatilha' in x or 'sapato' in x or 'botinho' in x:
        listado_test.append(3)
    else:
        listado_test.append(0)

In [228]:
pd.Series(listado_test).value_counts()

3    8340
2     740
0     706
1     214
dtype: int64

In [229]:
test['filtro'] = listado_test